<a href="https://colab.research.google.com/github/kavyajeetbora/LB_DSC_SEPT_WKND_20/blob/master/kavyajeet/python_assignment/String_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
#Declare a string and store it in a variable. 
name = 'Kavyajeet Bora'


#Check the type and print the id of the same.
print(type(name), id(name))

<class 'str'> 140359488198640

#Which are valid/invalid strings
1. 'This is Python class'
valid

2. "This is Python class"
valid

3. '''This is Python class'''
valid

4. """This is Python class"""
valid

5. 'This is Python's class'
invalid

6. "Learnbay provides "Java", "Python" classes"
invalid

7. "Learnbay provides 'Java', 'Python' classes"
valid

8. "This is Python's class"
valid

9. """Learnbay provides "Java", "Python" classes"""
valid

10. '''Learnbay provides "Java", "Python" classes'''
valid

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid

12. 'This is
Python 
class'
invalid

In [76]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print(len(my_str))
#output:- The length of my_str is 66

print(id(my_str)==id(my_str))
#output:- id of my_str and my_str1 is same? - True

print(type(my_str))
#output:- Type of my_str is: str

66
True
<class 'str'>

In [77]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print(my_str[0])
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print(my_str[len(my_str)-len(my_str)])
#output:- The first character in my_str is: h
#Note:- Use len() function.

print("Q3.",my_str[10])
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

print(my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print(my_str[len(my_str)-1])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print(my_str.find("8"))
#output:- The character in my_str is: 8
#Note:- Use positive index

A
A
Q3.
h
h
9

In [78]:
#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing
print(my_str[::])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print(my_str[0:len(my_str)])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print(my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print(my_str[0:len(my_str):1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print()
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print(my_str[::2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print(my_str[::3])
#output:- You have sliced: Ahgttam tebo  r lsorDc


print(my_str[::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print(my_str[-1:-len(my_str)-1:-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print(my_str[::-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print(my_str[-1:-len(my_str)-1:-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print("output",my_str[10:17:-1])
#What will be the output? this will give blank string, we have to use negative indexing here because the direction is in reverse direction


print(my_str[-50:-56:-1])
#output:- You have sliced: yaw ta, Using begin, end and step.

print(my_str[-17:-10:1])
#output:- You have sliced: ess you. Using begin, end and step.

Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.

Atog htwymyntb biu tfrtuls o'eDth
Ahgttam tebo  r lsorDc
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.cu ruysen si asovoe o a a athuhl
.cu ruysen si asovoe o a a athuhl
output
yaw ta
ess you

In [79]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python
print(str1+" "+str2)

#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output
#Output is: LearnbayLearnbayLearnbay
print(str1*3)

#Error: TypeError: can't multiply sequence by non-int of type 'float'


#Error: TypeError: can't multiply sequence by non-int of type 'str'

Learnbay Python
LearnbayLearnbayLearnbay

In [80]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2
print(str1==str2)

#print False by using identity operator between str1 and str3
print(str1==str3)

#print False by using identity operator between str4 and str3
print(str4==str3)

#Check if P is available in str1 and print True by using membership operator
print("P" in str1)

#Check if $ is available in str3 and print True by using membership operator
print("$" in str3)

#Check if N is available in str3 and print False by using membership operator
print("N" in str3)

True
False
True
True
True
False

In [81]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment. because strings are immutable

In [82]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator
print(str1 is str2)

#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

#Compare str1 and str2 and print False using comparison operator
print(str1 is not str2)

True
True
False
False

In [83]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator
print(str1 is str2)

#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

#Compare str1 and str2 and print False using comparison operator
print(str1 is not str2)

False
False
True
True

In [84]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

#Compare str1 and str2 and print True using equality operator
print(str1 != str2)

#Compare str1 and str2 and print False using equality operator
print(str1 == str2)

True
False

In [85]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
print(str1 is str2)

#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

#Compare str1 and str2 and print False using comparison operator
print(str1 is not str2)

True
True
False
False

In [86]:
str1 = 'Python'
str2 = 'python'

#Compare str1 and str2 and print True using comparison operator
print(str1 is not str2)

#Compare str1 and str2 and print True using equality operator
print(str1 != str2)

#Compare str1 and str2 and print False using equality operator
print(str1 == str2)

#Compare str1 and str2 and print False using comparison operator
print(str1 is str2)

True
True
False
False

In [87]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(1,a and b)
print()
print(2, a or b)
print()
print(3, a is not b)

1

2 Python

3 True

In [88]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(1,a and b)
print()
print(2, a or b)
print()
print(3, a is not b)

1

2

3 False

In [89]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(1,a and b)
print()
print(2, a or b)
print()
print(3, a is not b)

1 learnbay

2 Python

3 True

In [90]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print(1, my_str.count("t"))
print()

# #Write the code to get the index of '8' in my_str. Use find() and index() method.
print(2, my_str.index('8'))
print()

# #What will be the output of below code?
print(3, my_str.find('the'))
print()

# # print(my_str.index('the'))


print(4, my_str.find('t', 9, 15))
print()

print(5, my_str.rfind('u'))
print()

print(6, my_str.rindex('u'))
print()

1 7

2 9

3 -1

4 11

5 63

6 63

In [91]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'
text = input("Enter a text")
print(text.strip())

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'

Enter a textHello world
Hello world

In [92]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [93]:
#Write the code which takes one string from user and 
# if it starts with small case letter then convert it to corresponding capital letter 
#otherwise 
# if starts with capital letters then convert first character of every word in that string into capital.

## sample input text:
## The Pixel 4a is a big upgrade over the Pixel 3a in pretty much every way.
## AND 
## google promises “all-day” battery life for the Pixel 4a, which should be good enough for most people.
text = input("Enter a string:")
if text[0].islower():
    print(text.capitalize())
else:
    print(text.title())

Enter a string:google promises “all-day” battery life for the Pixel 4a, which should be good enough for most people.
Google promises “all-day” battery life for the pixel 4a, which should be good enough for most people.

In [94]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal


text = input("Enter a text:")
print("is alphanumber:", text.isalnum())
print("is alphabhets:", text.isalpha())
print("is digit:", text.isdigit())
print("is lower:", text.islower())
print("is upper:", text.isupper())
print("is title case:", text.istitle())
print("Any space character:", bool(text.find(" ")))
print("is Numeric:", text.isnumeric())
print("All numbers in the string are decimal ?", text.isnumeric())

Enter a text:Hello123
is alphanumber: True
is alphabhets: False
is digit: False
is lower: False
is upper: False
is title case: True
Any space character: True
is Numeric: False
All numbers in the string are decimal ? False

[Difference between is digit and is decimal in python ?](https://stackoverflow.com/questions/22789392/str-isdecimal-and-str-isdigit-difference-example#:~:text=the%20function%20str.-,isdecimal()%20and%20str.,some%20other%20unicode%2Dsupported%20chars.)



**Valid identifier defination:** A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9)

In [95]:
import keyword
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'
vars = ['abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if']
text = "90variable"
for i in vars:
    print("Is",i,"a valid identifier?",i.isidentifier() and not keyword.iskeyword(i))

Is abc a valid identifier? True
Is abc1 a valid identifier? True
Is ab1c a valid identifier? True
Is 1abc a valid identifier? False
Is abc$ a valid identifier? False
Is _abc a valid identifier? True
Is if a valid identifier? False

In [96]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

True
False
False
True

In [103]:
def isascii(text):
    return all([ord(x)<128 for x in text])

#What will be output of below code?
my_string = '  '
print(my_string,"is ascii:",isascii(my_string))

my_string = 'Studytonight'
print(my_string,"is ascii:",isascii(my_string))

my_string = 'Study tonight'
print(isascii(my_string))

my_string = 'Studytonight@123'
print(my_string,"is ascii:",isascii(my_string))

my_string = '°'
print(my_string,"is ascii:",isascii(my_string))

my_string = 'ö'
print(my_string,"is ascii:",isascii(my_string))

   is ascii: True
Studytonight is ascii: True
True
Studytonight@123 is ascii: True
° is ascii: False
ö is ascii: False

In [104]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

**ljust** method returns the string left justified in a string of length width. Padding is done using the specified fillchar (default is a space). 

*The original string is returned if width is less than len(s)*

In [127]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)
string = "python"
print(string.ljust(len(string)+2,'*'))

#Write the code to get below output
#O/P 1:- **python (using rjust method)
string = "python"
print(string.rjust(len(string)+2,'*'))

#Write the code to get below output
#O/P 1:- **python** (using rjust method)
string = "python"
print(string.center(len(string)+4,'*'))

python**
**python
**python**

In [128]:
#Write a Python program to find the length of the my_str:-

input = 'Write a Python program to find the length of the my_str'
#Output:- 55
print(len(input))

55

In [108]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
input = 'peter piper picked a peck of pickled peppers.'
#Output:- 9
print(input.count("p"))

9

In [129]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
input= 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

for i,chr in enumerate(input):
    if chr=="p":
        print(i)

0
6
8
12
21
29
37
39
40

In [130]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

input= 'peter piper picked a peck of pickled peppers.'
print(input.split())

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [131]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'
input= 'peter piper picked a peck of pickled peppers.'
print(input.split()[::-1])

['peppers.', 'pickled', 'of', 'peck', 'a', 'picked', 'piper', 'peter']

In [132]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'
input= 'peter piper picked a peck of pickled peppers.'
print(input[::-1])

.sreppep delkcip fo kcep a dekcip repip retep

In [133]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'
input= 'peter piper picked a peck of pickled peppers.'
print(input[::-1].split()[::-1])

['retep', 'repip', 'dekcip', 'a', 'kcep', 'fo', 'delkcip', '.sreppep']

In [134]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

input= 'peter piper picked a peck of pickled peppers.'
print(input.title())

Peter Piper Picked A Peck Of Pickled Peppers.

In [136]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

input= 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(input.lower())

peter piper picked a peck of pickled peppers.

In [139]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

input = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(input.index("Pickl"))

29

In [140]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

input = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(input.replace("Peck","Pack"))

Peter Piper Picked A Pack Of Pickled Peppers.

In [144]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'
input = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = "Peck"
print(sub_str.center(len(input),"*"))

# checking
# print('*********************Peck********************'==sub_str.center(len(input),"*"))

*********************Peck********************
True