<a href="https://colab.research.google.com/github/rastogi-soni/LB_DSC_SEPT_WKND_20/blob/master/int_assignment_Soni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Declare an int value and store it in a variable. 

a = 10

#Check the type and print the id of the same.
print ('Type and id are' ,type(a), id(a))

Type and id are <class 'int'> 10914784

In [ ]:
#Take one int value between 0 - 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come same. Check why?

a = 10
b = 10
print ('id of a and b are', id(a), id(b))
print (a is b)

#Take one int value either less than -5 or greater than 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come different.Check why?

id of a and b are 10914784 10914784
True

In [ ]:
#Arithmatic Operations on integers
#Take two different intger values.
a = 50
b = 30
#Store them in two different variables.
#Do below operations on them:-
    #Find sum of both numbers
print(a + b)
    #Find differce between them
print(a - b)
    #Find the product of both numbers.
print(a * b)
    #Find value after dividing first num with second number
print(a / b)
    #Find the remainder after dividing first number with second number
print(a % b)
    #Find the quotient after dividing first number with second number
print (a / b)
    #Find the result of first num to the power of second number.
print (a ** b)

80
20
1500
1.6666666666666667
20
1.6666666666666667
931322574615478515625000000000000000000000000000000

In [ ]:
#Comparison Operators on integers
#Take two different intger values.
a = 50
b = 30
#Store them in two different variables.
#Do below operations on them:-
    #Compare se two numbers with below operator:-
        #Greater than, '>'
print(a > b)
        #Smaller than, '<'
print(a < b)
        #Greater than or equal to, '>='
print(a >= b)
        #Less than or equal to, '<='
print(a <= b)
#Observe their output(return type should be boolean)

True
False
True
False

In [ ]:
#Equality Operator
#Take two different intger values.
#Store them in two different variables.
a = 30
b = 50
#Equuate them using equality operator (==, !=)
print(a == b)
#Observe the output(return type should be boolean)
print (a != b)

False
True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10 and 20)       #----------------------------------------->Output is 20
print(0 and 20)        #----------------------------------------->Output is 0
print(20 and 0)        #----------------------------------------->Output is 0
print(0 and 0)         #----------------------------------------->Output is 0

print(10 or 20)        #----------------------------------------->Output is 10
print(0 or 20)         #----------------------------------------->Output is 20
print(20 or 0)         #----------------------------------------->Output is 20
print(0 or 0)          #----------------------------------------->Output is 0

print(not 10)          #----------------------------------------->Output is False
print(not 0)           #----------------------------------------->Output is True

20
0
0
0
10
20
20
0
False
True

In [ ]:
#Bitwise Operators
#Do below operations on the values provided below:-
a = 10
b = 20
    #Bitwise and(&) -----------------------------------------> 10, 20   -------> Output is 0
print(10 & 20)
    #Bitwise or(|)  -----------------------------------------> 10, 20   -------> Output is 30
print(10 | 20)
    #Bitwise(^)     -----------------------------------------> 10, 20   -------> Output is 30
print(10 ^ 20)
    #Bitwise negation(~) ------------------------------------> 10       -------> Output is -11
print(~10)
    #Bitwise left shift  ------------------------------------> 10,2     -------> Output is 40
print(10 << 2)
    #Bitwise right shift ------------------------------------> 10,2     -------> Output is 2
print (10 >> 2)
#Cross check the output manually

0
30
30
-11
40
2

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10
b = 10
print(a is b)          #True or False?
print(a is not b)      #True or False?

a = 1000
b = 1000
print(a is b)          #True or False?
print(a is not b)      #True or False?

True
False
False
True

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
print(10+(10*32)//2**5&20+(~(-10))<<2)

20

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2' in 'Python2.7.8')
print(10 in [10,10.20,10+20j,'Python'])
print(10 in (10,10.20,10+20j,'Python'))
print(2 in {1,2,3})
print(3 in {1:100, 2:200, 3:300})
print(10 in range(20))

True
True
True
True
True
True

In [ ]:
#An integer can be represented in binary, octal or hexadecimal form.
#Declare one binary, one octal and one hexadecimal value and store them in three different variables.
a = 0b1010000

b = 0o7436

c = 0xfade

#Convert 9876 to its binary, octal and hexadecimal equivalent and print their corresponding value.
print(bin(9876))
print(oct(9876))
print(hex(9876))

0b10011010010100
0o23224
0x2694

In [ ]:
#What will be the outut of following:-
a = 0b1010000
print(a)

b = 0o7436
print(b)

c = 0xfade
print(c)

print(bin(80))

print(oct(3870))

print(hex(64222))

print(bin(0b1010000))

print(bin(0xfade))

print(oct(0xfade))

print(oct(0o7436))

print(hex(0b1010000))

print(hex(0xfade))

80
3870
64222
0b1010000
0o7436
0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade