In [1]:
#Declare a float value and store it in a variable. 
x = 10.25
#Check the type and print the id of the same.
print(x, type(x), id(x), sep='\n')

10.25
<class 'float'>
2118798212304

In [8]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.
a = 5.5
b = 2.5
#Do below operations on them:-
    #Find sum of both numbers

    #Find differce between them
    #Find the product of both numbers.

    #Find value after dividing first num with second number

    #Find the remainder after dividing first number with second number

    #Find the quotient after dividing first number with second number

    #Find the result of first num to the power of second number.
print(f"""Addition {a+b} \nSubtraction {a-b} \nMultiplication {a*b} \nDivision {a/b} \nRemainder after divsion 
{a%b} \nQuotient after divsion {a//b} \na to the power b {a**b}""")

Addition 8.0
Subtraction 3.0
Multiplication 13.75
Division 2.2
Remainder after divsion
0.5
Quotient after divsion 2.0
a to the power b 70.94253836732938

In [3]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.
x = 12.5
y = 21.5
#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'
        #Smaller than, '<'
        #Greater than or equal to, '>='
        #Less than or equal to, '<='
#Observe their output(return type should be boolean)
print(x>y, type(x>y), x<y, type(x<y), x>=y, type(x>=y), x<=y, type(x<=y), sep='\n')

False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>

In [4]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.
#Equuate them using equality operator (==, !=)
#Observe the output(return type should be boolean)
x = 22.566
y = 23.343
print(x==y, type(x==y),x!=y, type(x!=y), sep='\n')

False
<class 'bool'>
True
<class 'bool'>

In [5]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [7]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
print(a is b)          #True or False? 
print(a is not b)      #True or False? 


# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same

# --> Because there is no way to store float from beginning since it can assume infinite value even between 0 and 1. 
# When a variable is newly declared which is storing float, it will be assigned new address. And since the variables store the 
# addresses and not the actual float number, whenever you declate the same float value to different variable, they are always 
# stored at different locations. While if you write a=c, that means the address from variable a is copied to variable c and 
# hence both are pointing to same adress and accessing same float value.

False
True

In [ ]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same

# --> Because there is no way to store float from beginning since it can assume infinite value even between 0 and 1. 
# When a variable is newly declared which is storing float, it will be assigned new address. And since the variables store the 
# addresses and not the actual float number, whenever you declate the same float value to different variable, they are always 
# stored at different locations. While if you write a=c, that means the address from variable a is copied to variable c and 
# hence both are pointing to same adress and accessing same float value.

In [8]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True

True
True
True
True
True
True