In [ ]:
#Declare a string and store it in a variable. 
a = 'Deepak'


#Check the type and print the id of the same.
print(f"id of {a} is " + str(id(a)), "and type is " + str(type(a)))

id of Deepak is 140515428899448 and type is <class 'str'>

In [ ]:
#Which are valid/invalid strings
1. 'This is Python class'
valid/invalid   - VALID

2. "This is Python class"
valid/invalid   -VALID

3. '''This is Python class'''
valid/invalid  -VALID


4. """This is Python class"""
valid/invalid -VALID


5. 'This is Python's class'
valid/invalid - invalid

6. "Learnbay provides "Java", "Python" classes"
valid/invalid - invalid

7. "Learnbay provides 'Java', 'Python' classes"
valid/invalid  - valid

8. "This is Python's class"
valid/invalid  - valid

9. """Learnbay provides "Java", "Python" classes"""
valid/invalid  - valid

10. '''Learnbay provides "Java", "Python" classes'''
valid/invalid   #  - valid

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid/invalid  valid

12. 'This is
Python 
class'
valid/invalid  -invalid

In [ ]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print()
#output:- The length of my_str is 66

print()
#output:- id of my_str and my_str1 is same? - True

print()
#output:- Type of my_str is: str

In [ ]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print('The first character in my_str is :' + my_str[0]  )
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print('')
#output:- The first character in my_str is: h
#Note:- Use len() function.

print('The character at index 10 in my_str is:' +  my_str[10] )
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

print('The last character in my_str is: ' + my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print('The last character in my_str is:' + my_str[(len(my_str)-1)])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print('The character in my_str is: ' + my_str[9])
#output:- The character in my_str is: 8
#Note:- Use positive index

The first character in my_str is :A

The character at index 10 in my_str is:
The last character in my_str is: h
The last character in my_str is:h
The character in my_str is: 8

In [ ]:

#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing
print('You have sliced : ' + my_str[::])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print('You have sliced : ' + my_str[0::])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print('You have sliced : ' + my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print('You have sliced : '+ my_str[0:len(my_str):1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print('You have sliced :'+ my_str[::-1])
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print('You have sliced :' + my_str[::2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print('You have sliced :' + my_str[::3])
#output:- You have sliced: Ahgttam tebo  r lsorDc


print('You have sliced : ' + my_str[::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print('You have sliced : ' + my_str[-1:-len(my_str):-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output?


print()
#output:- You have sliced: yaw ta, Using begin, end and step.

print()
#output:- You have sliced: ess you. Using begin, end and step.

You have sliced : Although that way may not be obvious at first unless you're Dutch.
You have sliced : Although that way may not be obvious at first unless you're Dutch.
You have sliced : Although that way may not be obvious at first unless you're Dutch.
You have sliced : Although that way may not be obvious at first unless you're Dutch.
You have sliced :.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
You have sliced :Atog htwymyntb biu tfrtuls o'eDth
You have sliced :Ahgttam tebo  r lsorDc
You have sliced : .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
You have sliced : .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtl

In [ ]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python
print(str1+ " " + str2)

#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output
#Output is: LearnbayLearnbayLearnbay
print (str1*3)

#Error: TypeError: can't multipl y sequence by non-int of type 'float'


#Error: TypeError: can't multiply sequence by non-int of type 'str'

Learnbay Python
LearnbayLearnbayLearnbay

In [ ]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2
print (str1 is str2)

#print False by using identity operator between str1 and str3
print (str1 is str3)

#print False by using identity operator between str4 and str3
print (str4 is str3)

#Check if P is available in str1 and print True by using membership operator
print ('P' in str1)

#Check if $ is available in str3 and print True by using membership operator
print ('$' in str3)

#Check if N is available in str3 and print False by using membership operator
print ('N' in str3)

True
False
False
True
True
False

In [ ]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.

str1.replace('Python','Java')

'This is Java class'

In [ ]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator
str1 is str2

#Compare str1 and str2 and print True using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using comparison operator
str1 is not str2

True
False

False

In [ ]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator
print (str1 is not str2)

#Compare str1 and str2 and print True using equality operator
print (str1 != str2)

#Compare str1 and str2 and print False using equality operator
print (str1 == str2)

#Compare str1 and str2 and print False using comparison operator
print (str1 is str2)

True
True
False
False

In [ ]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

#Compare str1 and str2 and print True using equality operator
print(str1 >= str2)

#Compare str1 and str2 and print False using equality operator

print(str1 <= str2)

True
False

In [ ]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
print (str1 is str2)

#Compare str1 and str2 and print True using equality operator
print (str1 == str2)


#Compare str1 and str2 and print False using equality operator
print (str1 != str2)


#Compare str1 and str2 and print False using comparison operator

print (str1 != str2)

True
True
False
False

In [ ]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator
print(str1 is not str2)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using comparison operator

True
True
False

In [ ]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b )
print(a or b)

asas
Python

In [ ]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print()

In [ ]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print()

learnbay
Python

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
count = 0
stringname = 't'
for i in my_str.split(" "):
   if ( i.find(stringname)!=-1):
        count = count +  1
print ("count of " + stringname +":"+ str(count))

#Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.find('8'))


#What will be the output of below code?
print(my_str.find('the'))


##print(my_str.index('the'))


print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))

count of t:6
9
-1
11
63
63

# New Section

In [ ]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'
str =  '    Python   '
print (str.strip())
#input:- '    Python'
#output:- 'Python'
str =  '    Python   '
print (str.lstrip())
#input:- 'Python   '
#output:- 'Python'
str =  '    Python   '
print (str.rstrip())

Python
Python
    Python

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print (my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [ ]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

strname = input("enter the string")
print (strname.islower())
if (strname.islower()):
      strname = strname.upper()
else :  
      strname = strname.lower()

print (strname)

enter the stringddd
True
DDD

In [ ]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

strname = input('Enter details')

if (strname.isalnum ()):
  print ('alphanumeric')
if (strname.isalpha() ):
  print ('aplhabets')
if (strname.isdigit() ):
  print ('digit')
if (strname.islower()):
  print ('lowercase')
if (strname.isupper()):
  print ('uppercase')

if (strname.istitle()):
  print ('title')
if (strname.find(" ")):
  print ('space')
if (strname.isnumeric()):
  print ('numeric')

# if strname.is())
#   print ('f')

Enter detailsDad
alphanumeric
aplhabets
title
space

In [ ]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

strname = input("Enter  : ")

if (strname.isidentifier()):
    print ("Valid Identifier")
else:
   print ("inValid Identifier")

Enter  : 121AS
inValid Identifier

In [ ]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s)
print(s.isprintable())

s = chr(27) + chr(97)
print(s)
print(s.isprintable())

s = '\n'
print(s)
print(s.isprintable())

s = ''
print(s)
print(s.isprintable())

Aa
True
a
False


False

True

In [ ]:
#What will be output of below code?
# my_string = '  '
# print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

AttributeError: ignored

In [ ]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

In [ ]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)
str='pyhton'
print(str.ljust(8,'*'))

#Write the code to get below output
#O/P 1:- **python (using rjust method)
str='pyhton'
print(str.rjust(8,'*'))

#Write the code to get below output
##O/P 1:- **python** (using rjust method)
str='pyhton'
print(str.center(10,'*'))

pyhton**
**pyhton
**pyhton**

In [ ]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

x= input ( 'Enter String : ')
print(len(x))

Enter String : adadadad
8

In [ ]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

x = 'peter piper picked a peck of pickled peppers.'
tofind ='p'
str1 = x.replace(" ","")
count = 0
for i in str1:    
    if(i.find(tofind) !=-1):
      count = count +1
print (count)

9

In [ ]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

x = 'peter piper picked a peck of pickled peppers.'
count =0
for i in x:    
    if(i.find('p') !=-1):
      print (count)
    count = count +1

0
6
8
12
21
29
37
39
40

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

x = 'peter piper picked a peck of pickled peppers.'
print(x.split())

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

x='peter piper picked a peck of pickled peppers.'
y = x.split()
y.reverse()
for i in y:
  i= i+" "
  print (i, end = "")

peppers. pickled of peck a picked piper peter

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

x='peter piper picked a peck of pickled peppers.'

y = x[::-1]

print (y)

.sreppep delkcip fo kcep a dekcip repip retep

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'
x= 'peter piper picked a peck of pickled peppers.'
y = x.split()
print (y)
count = 0
for i in y:
   print(i[::-1],end=" ")

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']
retep repip dekcip a kcep fo delkcip .sreppep

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
x= 'peter piper picked a peck of pickled peppers.'
print(x.title())

Peter Piper Picked A Peck Of Pickled Peppers.

In [ ]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

x= 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(x.capitalize())

Peter piper picked a peck of pickled peppers.

In [ ]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29
my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Pickl'
print(my_str.index(sub_str))

29

In [ ]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'
my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'

print(my_str.replace('Peck','Pack'))

Peter Piper Picked A Pack Of Pickled Peppers.

In [ ]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
word = "Peck"
start = my_str.index(word)
end = start + len(word)
print(((my_str[start:end]).rjust(22,'*')).ljust(45,'*'))

******************Peck***********************