<a href="https://colab.research.google.com/github/kavyajeetbora/LB_DSC_SEPT_WKND_20/blob/master/kavyajeet/week2_assignment/Dictionary_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
d = {"Tom":{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},
     "Kathy":{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
     }
# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

print(d['Tom'])
print(d['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [2]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

d = {
    "emp1":{"e_name":"John", "e_id":"SG101", "e_sal":"$10000"},
    "emp2":{"e_name":"Smith", "e_id":"SG102", "e_sal":"$9000"},
    "emp3":{"e_name":"Peter", "e_id":"SG103", "e_sal":"$9500"},
}
d

{'emp1': {'e_id': 'SG101', 'e_name': 'John', 'e_sal': '$10000'},
 'emp2': {'e_id': 'SG102', 'e_name': 'Smith', 'e_sal': '$9000'},
 'emp3': {'e_id': 'SG103', 'e_name': 'Peter', 'e_sal': '$9500'}}

In [3]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict['class']['student']['marks']['history'])

80

In [4]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
d = {}
for emp in employees:
    d[emp] = {"designation": 'Application Developer', "salary": 8000}
d

{'Emma': {'designation': 'Application Developer', 'salary': 8000},
 'John': {'designation': 'Application Developer', 'salary': 8000},
 'Kelly': {'designation': 'Application Developer', 'salary': 8000}}

In [5]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.


def mRNA(DNA):
    '''
    returns the mRNA transcript given the sequence of a DNA strand
    '''
    bases = {"A":"U", "T":"A", "C":"G", "C":"G"}

    if DNA in bases.keys():
        return bases[DNA]
    else:
        print("mRNA transcript invalid")
        return None

print(mRNA("A"))
print(mRNA("C"))

U
G

In [6]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

def count_letter(string):
    '''
    returns a dictionary containing the count of each letter in a given string
    '''
    counter = {}
    for i in string:
        if i not in counter.keys():
            counter[i] = 1
        else:
            counter[i] += 1

    return counter

count_letter("google.com")

{'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}

Since the dictionary we have created by default stores the values in an unordered way, hence we should use the OrderedDict object from python collection module to store the values in ordered way. 

[This is explained in this stackoverflow answer](https://stackoverflow.com/a/1872350/6819442)

In [7]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
from collections import OrderedDict
def count_letter(string):
    '''
    returns a dictionary containing the count of each letter in a given string
    '''
    counter = OrderedDict()
    for i in string:
        if i not in counter.keys():
            counter[i] = 1
        else:
            counter[i] += 1

    return counter

count_letter("google.com").items()

odict_items([('g', 2), ('o', 3), ('l', 1), ('e', 1), ('.', 1), ('c', 1), ('m', 1)])

In [8]:
list(count_letter("google.com").keys())

['g', 'o', 'l', 'e', '.', 'c', 'm']

In [9]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.


# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }


# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

def baseComposition(base_composition):
    '''
    returns the base composition of a given DNA sequence
    '''
    composition = {"A":0, "T":0, "C":0, "G":0}
    for i in base_composition:
        composition[i] += 1

    return composition
    
print(baseComposition("CTATCGGCACCCTTTCAGCA"))
print(baseComposition("AGT"))

{'A': 4, 'T': 5, 'C': 8, 'G': 3}
{'A': 1, 'T': 1, 'C': 0, 'G': 1}

In [10]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 

# 1. d = {"Name": "Tom" }
d = {}
d = {"Name":"Tom"}
print(d,"\n")

# 2. d["Name"] = "Tom"
d = {}
d["Name"] = "Tom"
print(d,"\n")
# 3. d.setdefault("Name","Tom")
d = {}
d.update({"Name": "Tom" })
print(d,"\n")
# 4. d.setdefault("Name", "Tom")
d = {}
d.setdefault("Name", "Tom")
print(d,"\n")
# 5. None of the above.
print("Answer is none of the above")

{'Name': 'Tom'}

{'Name': 'Tom'}

{'Name': 'Tom'}

{'Name': 'Tom'}

Answer is none of the above

In [11]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
d = {"a":1, "b":2}
# 1. d.keys()
# 2. d.values()
print(d.values())
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.
print("Option 2: d.values() method returns [1,2]")

dict_values([1, 2])
Option 2: d.values() method returns [1,2]

In [12]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) } # TypeError: unhashable type: 'list'
# 4. d = { 1: 0.4 }
# 5. None of the above

The key in the dictionary should be hashable type.
So in option 3, the key is a list which is unhashable type object
so a list cannot be set as key in a dictionary.



the items whose values cannot be changed as hashable and the objects whose values can be changed as unhashable.

For example in Python, all immutable objects can be termed as hashable while as mutable objects can be termed as unhashable. Let us take an example where we can get such error and why we get it.

For example when you use a list as a key in the dictionary It cannot be done and we will get an error ’TypeError: unhashable type’

[Reference for this answer](https://qr.ae/pNbB33)

In [13]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

def reverseLookup(d, value):
    keys = list(d.keys())
    values = d.values()
    output_keys = []
    for i,v in enumerate(values):
        if value==v:
            output_keys.append(keys[i])

    return sorted(output_keys)


print(reverseLookup({'a':1, 'b':2, 'c':2}, 1))
print(reverseLookup({'a':1, 'b':2, 'c':2}, 2))
print(reverseLookup({'a':1, 'b':2, 'c':2}, 3))
print(reverseLookup({'a':1, 'c':2, 'b':2}, 2))  ## to check sorting of the output list

['a']
['b', 'c']
[]
['b', 'c']

In [14]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}


def invertDictionary(d):
    inverted = {}
    for k,v in d.items():
        if v in inverted.keys():
            inverted[v].append(k)
        else:
            inverted[v] = [k]
    return inverted.items()

print(invertDictionary({'a':1, 'b':2, 'c':3, 'd':2}))
print(invertDictionary({'a':3, 'b':3, 'c':3}))
print(invertDictionary({'a':2, 'b':1, 'c':2, 'd':1}))

dict_items([(1, ['a']), (2, ['b', 'd']), (3, ['c'])])
dict_items([(3, ['a', 'b', 'c'])])
dict_items([(2, ['a', 'c']), (1, ['b', 'd'])])

In [15]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

def convertVector(vector):
    '''
    converts a sparse vector into a dictionary
    '''
    d = {}
    for i in range(len(vector)):
        if vector[i] != 0:
            d[i] = vector[i]
    
    return d

print(convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]))
print(convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0]))
print(convertVector([0, 0, 0, 0, 0]))

{0: 1, 3: 2, 7: 3, 12: 4}
{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
{}

In [37]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

# def convertDictionary(dictionary):
#     '''
#     converts a dictionary into a sparse vector
#     '''
#     output = [0]*max(dictionary.keys())
#     for 
# convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})

def convertDictionary(dictionary):
    '''
    converts a dictionary back to its sparse vector representation
    '''
    if len(dictionary)>0:
        length = max(dictionary.keys())+1
        output = [0]*(length)
        for i in range(length):
            if i in dictionary.keys():
                output[i] = dictionary[i]

        return output
    else:
        return []

print(convertDictionary({0: 1, 3: 2, 7: 3, 12: 4}))
print(convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1}))
print(convertDictionary(dictionary={}))

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
[]

In [39]:
# Given a Python dictionary, Change Brad’s salary to 8500

# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary'] = 8500
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [41]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

## method 1: sorting the dictionary by values
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(sorted(sampleDict.items(), key=lambda x:x[1])[0][0])

'Math'

In [43]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict['city']
sampleDict.pop("city")
sampleDict

{'age': 25, 'location': 'New york', 'name': 'Kelly', 'salary': 8000}

In [46]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}
# Expected Output: True

def check_value(d,value):
    '''check if a value exists in a dictionary'''
    return value in d.values()

sampleDict = {'a': 100, 'b': 200, 'c': 300}
check_value(sampleDict,200)

True

In [51]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}


def delete_keys(d,keys):
    '''this function deletes a set of given keys'''
    for key in keys:
        if key in d.keys():
            d.pop(key)
        else:
            print("no such key in the dictionary:",key)
    
    return d

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

keysToRemove = ["name", "salary","emp_code"]
delete_keys(sampleDict,keysToRemove)

no such key in the dictionary: emp_code

{'age': 25, 'city': 'New york'}